.App {
    display:flex;
    justify-content: center;
    text-align: center;
}
.displayFlex {
    display: flex;
}
.centerText {
    display: flex;
    justify-content: center;
}
.DecorateVoteNum {
    display: flex;
    align-content: baseline;
    font-size: 35px;
    color: blue;
    margin-left: 3%;
    
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.cActions{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.imgSize {
    width: 70%;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.flex-row2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
}
html{
  /* background-color: #BFC9CA ; */
  font-size: 1.3rem;
}
.credit {
  text-align: center;
  display: none;
}
.redText {
    color: red;
    font-size: 1rem;
}
.description {
    word-wrap: break-word;
    height: fit-content;
}